<!--header-->
		<div class="header">
			<div class="header-top">
				<div class="container">
					 <div class="top-left">
						<a routerLink="/home"> Help +0123-456-789</a>
					</div>
					<div class="top-right">
					<ul>
						<li><a routerLink="/index/home">Checkout</a></li>
						<li><a routerLink="/index/home">Login</a></li>
						<li><a routerLink="/index/home"> Create Account </a></li>
					</ul>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
			<div class="heder-bottom">
				<div class="container">
					<div class="logo-nav">
						<div class="logo-nav-left">
							<h1><a routerLink="/index/home">New Shop <span>Shop anywhere</span></a></h1>
						</div>
						<div class="logo-nav-left1">
							<nav class="navbar navbar-default">
							<!-- Brand and toggle get grouped for better mobile display -->
							<div>
								<ul class="menuHeader">
									<li class="active"><a routerLink="/index/home" class="act">Home</a></li>	
									<!-- Mega Menu -->
									<li><a routerLink="/admin">Manager</a></li>
									<li><a routerLink="/index/home">About</a></li>
									<li><a routerLink="/index/home">Contact</a></li>
								</ul>
							</div>
							</nav>
						</div>
						<div class="clearfix"> </div>
					</div>
				</div>
			</div>
		</div>
		<!--header-->
    <!--banner-->
		<!-- <div class="banner-w3">
      <img src="https://cdn.vatgia.vn/pictures/fullsize/2018/10/16/hpm1539683613.png" class="img-responsive" alt="">
		</div>	 -->
		<!--banner-->
    