<div class="new-arrivals-w3agile">
	<div class="container">
		<h2 class="tittle">Hot Products</h2>
		<div class="arrivals-grids">
			<div class="col-md-3 arrival-grid simpleCart_shelfItem">
				<div class="grid-arr">
					<div class="grid-arrival">
						<figure>
							<a href="#" class="new-gri" data-toggle="modal" data-target="#myModal1">
								<div class="grid-img">
									<img  src="https://cdn.tgdd.vn/Products/Images/42/194955/realme-3-pro-blue-400x460.png" class="img-responsive" alt="">
												</div>
									<div class="grid-img">
										<img  src="images/p5.jpg" class="img-responsive"  alt="">
												</div>
							</a>
						</figure>
					</div>
					<div class="ribben">
						<p>NEW</p>
					</div>
					<div class="ribben1">
						<p>SALE</p>
					</div>
					<div class="block">
						<div class="starbox small ghosting"> </div>
					</div>
					<div class="women">
						<h6><a href="single.html">Sed ut perspiciatis unde</a></h6>
						<span class="size">XL / XXL / S </span>
						<p><del>$100.00</del><em class="item_price">$70.00</em></p>
						<a href="#" data-text="Add To Cart" class="my-cart-b item_add">Add To Cart</a>
					</div>
				</div>
			</div>

			<div class="clearfix"></div>
		</div>
	</div>
</div>