
table.paleBlueRows {
  font-family: Arial, Helvetica, sans-serif;
  border: 1px solid #FFFFFF;
  width: 100%;
  height: 200px;
  text-align: center;
  border-collapse: collapse;
  margin-bottom: 20px;
  margin-top: 20px;
}
table.paleBlueRows td, table.paleBlueRows th {
  border: 1px solid #FFFFFF;
  padding: 3px 2px;
  width: 20%;
  height: 50px;
}
table.paleBlueRows tbody td {
  font-size: 13px;
}
table.paleBlueRows tr:nth-child(even) {
  background: #D0E4F5;
}
table.paleBlueRows thead {
  background: #0B6FA4;
  border-bottom: 5px solid #FFFFFF;
}
table.paleBlueRows thead th {
  font-size: 17px;
  font-weight: bold;
  color: #FFFFFF;
  text-align: center;
}

button{
  width: 100px;
  margin: 10px;
  border: none;
  color: white;
  border-radius: 5px;
  height: 30px
}

#edit{
  background: rgb(111, 111, 216);
}

#remove{
  background: red;
}
#add{
  float: right;
  background: green;
  margin-top: 20px;
  width: 150px;
  margin-right: 60px;
}

h1{
  margin-top: 20px;
  margin-bottom: 20px;
  float: left;
}

td:hover{
  background: rgb(186, 245, 172);
}

img{
  width: 100px;
  height: 100px;
}