<div class="new-arrivals-w3agile">
	<div class="container">
		<h2 class="tittle">Hot Products</h2>
		<div class="arrivals-grids">
			<div class="col-md-3 arrival-grid simpleCart_shelfItem" *ngFor="let product of products;let i = index">
				<div *ngIf="i < 4">
					<div class="grid-arr">
						<div class="grid-arrival">
							<figure>
								<div class="grid-img">
									<img  src="{{product.img}}" class="img-responsive" alt="">
												</div>
									<div class="grid-img">
										<img  src="images/p5.jpg" class="img-responsive"  alt="">
												</div>
							</figure>
						</div>
						<div class="ribben1">
							<p>HOT</p>
						</div>
						<div class="block">
							<div class="starbox small ghosting"> </div>
						</div>
						<div class="women">
							<h6><a href="single.html">{{product.name}}</a></h6>
							<span class="size">16GB / 32GB / 64GB </span>
							<p>Price: <em class="item_price">${{product.price}}</em></p>
							<a routerLink="/product/{{product.id}}" class="my-cart-b item_add">Show Detail</a>
						</div>
					</div>
				</div>
			</div>

			<div class="clearfix"></div>
		</div>
	</div>
</div>